// .switch {
//   height: 31px;
//   width: 5rem;
//   border-radius: 1rem;
//   border: 1px solid $gray-line;
//   background-color: #fff;
//   cursor: pointer;
//   position: relative;
//   display: flex;
//   &__control {
//     position: absolute;
//     height: calc(100% - 0.25rem);
//     width: 1.5rem;
//     border-radius: 1rem;
//     top: 0.125rem;
//     left: 0.125rem;
//     background-color: $gray-line;
//   }
//   &__txt{
//     position: absolute;
//     height: calc(100% - 0.25rem);
//     width: 1.5rem;
//     border-radius: 1rem;
//     top: 50%;
//     right: 0.5rem;
//     transform:translateY(-35%);
//     font-size: 0.75rem;
//     display: block;
//   }
//   &.active {
//     border: 1px solid $primary;
//     .switch__control {
//       left: calc(100% - 1.75rem);
//       background-color: $primary;
//     }
//     .switch__txt {
//       right: calc(100% - 1.75rem);
//       color: $primary;
//     }
//   }
// }
.switch {
  padding: 0.125rem;
  width: 5rem;
  border-radius: 1rem;
  border: 1px solid $gray-line;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__control {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 1rem;
    background-color: $gray-line;
  }
  &__txt{
    border-radius: 1rem;
    font-size: 0.75rem;
    margin: 0 0.125rem;
  }
  &.active {
    border: 1px solid $primary;
    flex-direction: row-reverse;
    .switch__control {
      background-color: $primary;
    }
    .switch__txt {
      color: $primary;
    }
  }
}
